/*===== GOOGLE FONTS =====*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;600;700&display=swap');
@import './_var.css';
@import './_reset.css';
/*===== CLASS CSS ===== */

html {
  margin: 0;
}

body {
  background-color: var(--bg-color);
  width: 100%;
  min-height: 100%
}

h2 {
  font-size: var(--big-font-size);
}

.second-clr {
  color: var(--second-color)
}

.first-clr {
  color: var(--first-color)
}

.section {
  padding-top: 7rem;
  padding-bottom: 2rem;
  max-width: 1024px;
  margin: auto;
  height: 100vh;
  font-size: 16px;
  /* border: red 2px solid */
}

.section-title {
  position: relative;
  font-size: var(--h2-font-size);
  color: var(--first-color);
  margin-top: var(--mb-2);
  margin-bottom: var(--mb-6);
}

.section-title::after {
  position: absolute;
  content: '';
  width: 340px;
  top: 1.6rem;
  height: 2px;
  margin: auto;
  background-color: var(--first-color);
  opacity: 0.1;
}

.about .section-title::after {
  left: 5.3em;
}

.skills .section-title::after {
  left: 3em;
}

.experience .section-title::after {
  left: 6.1em;
}

.work .section-title::after {
  left: 3.6em;
}

.contact .section-title::after {
  left: 6.4em;
}

/* ================================================================== */

/* ===== LAYOUT =====  */

.bd-grid {
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 2.5rem;
  width: 100%;
}

.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--bg-color);
  transition: all 0.3s ease;
  padding: 0 80px;
}

.l-header.hide {
  top: -80px;
}

.l-header.shadow {
  box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);
}

/*===== NAV =====*/

.nav {
  height: calc(var(--header-height) + 3rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: var(--font-semi);
  transition: all 0.8s ease;
}

.l-header.shadow .nav {
  height: calc(var(--header-height) + 1rem);
}

@media screen and (max-width: 768px) {
  .nav__menu {
    position: fixed;
    top: var(--header-height);
    right: -100%;
    width: 80%;
    height: 100%;
    padding: 2rem;
    background-color: var(--second-color);
    transition: 0.5s;
  }
}

.nav__item {
  margin-left: var(--mb-6);
  margin-bottom: 0;
}

.nav__list {
  position: relative;
  display: flex;
  padding-top: 0;
}

.nav__item-underline {
  position: absolute;
  left: var(--mb-6);
  top: 2rem;
  width: 44px;
  height: 0.18rem;
  background: var(--second-color);
  will-change: left, width;
  transition: left .45s, width .3s;
}

.nav__link {
  position: relative;
  color: var(--first-font);
  color: var(--first-color);
}

.nav__logo {
  color: var(--first-color);
}

.nav__toggle {
  color: var(--first-color);
  font-size: 1.5rem;
  cursor: pointer;
}

/*=== Show menu ===*/

.show {
  right: 0;
}

/*===== HOME =====*/

.home {
  row-gap: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.home__data {
  align-self: center;
  margin-bottom: 180px;
  margin-top: 50px;
}

.home__span {
  font-family: var(--code-font);
}

.home__title {
  font-size: 4rem;
}

.home__subtitle {
  margin-bottom: 0.5em;
  color: var(--third-color);
}

.home__subtitle .home__span {
  margin-left: 10px;
}

.home__data h1 {
  line-height: 90px;
}

.home__data>span {
  margin-bottom: 10px;
  display: inline-block;
}

.home__desc {
  color: var(--third-color);
  line-height: 25px;
  max-width: 510px;
  margin: 0 0 40px;
}

.home__title-color {
  color: var(--first-color);
}

.home__social {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 55px;
  bottom: 1px;
}

.home__social::after {
  content: '';
  display: block;
  width: 1px;
  height: 160px;
  background-color: rgb(168, 178, 209);
  padding-top: 0;
  align-self: flex-end;
  margin: 0px auto;
}

.home__social-icon {
  width: max-content;
  margin-bottom: 0;
  font-size: 1.5rem;
  color: var(--first-color);
  padding: 7px;
}

.home__social-icon:hover {
  color: var(--first-color);
}

.home__img {
  position: absolute;
  bottom: 0;
  right: 10%;
  width: 457px;
  bottom: 15%;
}

/*BUTTONS*/

button {
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
}

.button {
  color: var(--first-font);
  padding: 0.1rem 0.1rem;
  font-weight: var(--font-semi);
  width: 10em;
  position: relative;
  letter-spacing: 0.1em;
  font-size: 0.9em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-flexbox;
  display: inline-flex;
  overflow: hidden;
  background: transparent;
  white-space: nowrap;
  -webkit-tap-highlight-color: transparent;
  justify-content: center;
  align-items: center;
  border: 1px solid currentColor;
}

.button:first-of-type {
  margin-right: 10px;
}

.button .button__content {
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0.8em;
  width: 100%;
  color: #fff;
}

.button:hover {
  color: var(--first-color);
  border-color: var(--second-color);
}

.button .button__content:before {
  content: '';
  width: 111%;
  height: 109%;
  pointer-events: none;
  z-index: -1;
  position: absolute;
  top: -2px;
  bottom: 0;
  left: -2px;
  right: 0;
  background: currentColor;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: transform 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.button:hover .button__content:before {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  background: var(--second-color);
}

/* ===== ABOUT =====*/

.about__container {
  row-gap: 2rem;
  line-height: 26px;
  grid-template-rows: 700px;
  grid-column-gap: 0;
  grid-template-columns: 45% 55%;
  align-items: flex-start;
  text-align: initial;
}

.about__subtitle {
  margin-bottom: var(--mb-2);
}

.about__img {
  justify-self: flex-start;
  position: relative;
  margin-left: 10px;
  margin-top: 12px;
  width: 75%;
}

.about__img img {
  border-radius: 1.5px;
}

.about__img .img__border:after {
  top: 25px;
  left: 25px;
  z-index: -1;
  border-width: 2px;
  border-style: solid;
  border-color: var(--first-color);
  border-image: initial;
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 1.5px;
}

.about__info {
  color: var(--third-color);
  width: 100%;
  height: 600px;
  padding-right: 80px;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.about__info::-webkit-scrollbar {
  display: none;
}

.about__text {
  font-size: 1em;
  line-height: 30px;
}

.about__text>p:last-of-type {
  color: var(--first-color);
}

.about__tech {
  display: grid;
  grid-template-columns: repeat(3, minmax(140px, 240px));
  padding: 0px;
  margin: 20px 10px 0px;
  list-style: none;
  font-size: 0.9em;
}

.tech__item {
  position: relative;
  margin-bottom: 10px;
  padding-left: 20px;
  font-family: var(--code-font);
  line-height: 20px;
}

.tech__item::before {
  content: '▹';
  position: absolute;
  left: 0px;
  font-size: 14px;
  line-height: 12px;
  bottom: 30%;
}

/* ===== SKILLS =====*/

.skills__container {
  row-gap: 2rem;
  text-align: center;
  grid-template-columns: repeat(3, 1fr);
  align-items: flex-start;
  margin: 0 auto;
  text-align: initial;
}

.skills__subtitle {
  margin-bottom: var(--mb-2);
}

.skills__text {
  margin-bottom: var(--mb-4);
}

.skills__data {
  display: flex;
  background-color: var(--bg-color);
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-weight: var(--font-semi);
  padding: 0.5rem 1rem;
  margin-bottom: var(--mb-2);
  box-shadow: 0 4px 25px rgba(14, 36, 49, 0.15);
}

.skills__data .skills__icon {
  width: 100px;
}

.skills__icon {
  font-size: 1em;
  margin-right: var(--mb-2);
  color: var(--first-color);
  -webkit-filter: grayscale(100%);
  filter: grayscale(85%);
  transition: filter .3s ease-in-out;
}

.skills__icon:hover {
  -webkit-filter: grayscale(00%);
  filter: grayscale(0%);
}

.skills__icon.sm img {
  height: 50px;
}

.skills__names {
  display: flex;
  align-items: center;
  font-size: 0.9em;
  height: 37px;
}

.skills__img {}

/* ===== EXPERIENCE =====*/

.experience {
  max-width: 900px;
}

.experience__container {
  grid-template-columns: 15% 85%;
  text-align: initial;
  margin: 60px 0 0 5px;
}

.experience__lst {
  width: max-content;
  position: relative;
}

.experience__lst-underline {
  position: absolute;
  left: 0px;
  bottom: 0;
  width: 2px;
  height: 0px;
  background: var(--second-color);
  will-change: top, height;
  transition: top .3s, height .3s;
}

.experience__item {
  font-family: var(--code-font);
}

.experience__item button {
  display: flex;
  position: relative;
  align-items: center;
  -webkit-box-align: center;
  height: 42px;
  cursor: pointer;
  width: 100%;
  background-color: transparent;
  text-align: left;
  white-space: nowrap;
  font-family: inherit;
  font-size: 0.8em;
  letter-spacing: 0.5px;
  color: var(--fourth-color);
  padding: 0px 25px 2px;
  border-left: 2px solid rgba(255, 255, 255, 0.25);
  transition: all .4s;
}

.experience__item.active button {
  background-color: rgba(104, 67, 32, 0.1);
  color: var(--first-color);
  outline: 0px;
}

.experience__panel {
  max-height: 600px;
  height: 400px;
  opacity: 1;
  transition: all .5s;
}

.experience__panel.hidden {
  display: none;
}

.experience__panel.visually-hidden {
  opacity: 0;
}

.experience__panel .experience__title {
  font-size: 1.4em;
  margin: 0 0 10px;
}

.experience__panel .experience__date {
  font-size: 0.85em;
  font-family: var(--code-font);
  color: var(--third-color);
  margin: 0 0 10px;
}

.experience__panel::-webkit-scrollbar {
  display: none;
}

.panel__info {
  height: 450px;
  color: var(--third-color);
  overflow-y: auto;
  -ms-overflow-style: none;
  padding-right: 25px;
  scrollbar-width: none;
}

.panel__info::-webkit-scrollbar {
  width: 19px;
  /* margin-left: 36px; */
}

.panel__info::-webkit-scrollbar-track {
  background-color: rgba(70, 70, 70, 0.3);
  border-left: 9.9px solid var(--bg-color);
  border-right: 9.9px solid var(--bg-color);
}

.panel__info::-webkit-scrollbar-thumb {
  background-color: var(--third-color);
  border-radius: 25px;
  border: 7px solid transparent;
  background-clip: content-box;
}

.panel__info .text__container {
  display: flex;
}

.panel__info .text__container>p span {
  margin-left: 10px;
  font-family: var(--code-font);
  font-size: 0.9em;
  font-weight: 100;
}

.panel__info>ul {
  margin-top: 20px;
}

.panel__info ul .info__items {
  padding-left: 30px;
  margin-bottom: 5px;
  margin-left: 0px;
  transition: margin-left 0.5s ease;
}

.panel__info ul .info__items:hover {
  margin-left: 40px;
}

.panel__info ul .info__items.drop__active {
  margin-left: 40px;
}

.panel__info ul li>.text__container .drop_arrow {
  align-self: center;
  margin-right: 15px;
  max-width: 10px;
  transform: rotate(90deg);
  transition: margin-right 0.6s ease, transform 0.3s ease
}

.panel__info ul .info__items.drop__active>.text__container .drop_arrow {
  margin-right: 45px;
  transform: rotate(180deg);
  margin-right: 45px;
}

.panel__info ul li .inner_list {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, minmax(140px, 400px));
  grid-template-rows: auto;
  max-width: 800px;
  padding: 0px;
  margin: 15px 0px 20px 46px;
  list-style: none;
  max-height: 0;
  opacity: 0;
  visibility: hidden;
  transition: max-height 0.8s ease, opacity 0.3s ease-in;
}

.panel__info ul li.drop__active .inner_list {
  visibility: visible;
  max-height: 600px;
  margin: 15px 0px 20px 46px;
  opacity: 1;
}

.panel__info ul li .inner_list .inner_list__items {
  position: relative;
  padding: 0 0 0 10px;
  font-family: var(--code-font);
  font-size: 0.85em;
  line-height: 20px;
  max-height: 0;
  transition: all 1.5s ease;
}

.panel__info ul li.drop__active .inner_list .inner_list__items {
  max-height: 300px;
  padding: 10px;
}

/* ===== WORK =====*/

.section.work {
  max-width: 1280px;
  width: 90%;
}

.work__container {
  position: relative;
  height: 480px;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

.work__container .carousel {
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
  position: absolute;
  height: 480px;
}

.carousel__actions {
  position: absolute;
  display: flex;
  width: 110%;
  margin: 0 auto;
  justify-content: space-between;
  top: 52%;
  left: 50%;
  z-index: 100;
  transform: translateY(-50%) translateX(-50%);
}

.carousel__actions button {
  border: none;
  background: transparent;
  cursor: pointer;
}

.carousel__actions button img {
  width: 26px;
}

.carousel .carousel__track {
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  height: 470px;
  margin: 0 auto;
  /* padding: 15px; */
  align-items: center;
  left: -100%;
  transform: translateX(100%);
  /* transition: transform 2s ease; */
}

@media (min-width: 1080px) {
  .carousel .carousel__track {
    left: -50%;
    transform: translateX(50%);
  }
}

@media (min-width: 1486px) {
  .carousel .carousel__track {
    left: -33.33333%;
    transform: translateX(33.33333%);
  }
}

.carousel .carousel__track.is-reversing {
  transform: translateX(-100%);
}

@media (min-width: 1080px) {
  .carousel .carousel__track.is-reversing {
    transform: translateX(-50%);
  }
}

@media (min-width: 1486px) {
  .carousel .carousel__track.is-reversing {
    transform: translateX(-33.33333%);
  }
}

.carousel .carousel__track.is-set {
  transform: none;
  transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.project {
  position: relative;
  flex: 1 0 100%;
  order: 2;
  padding: 0 25px;
  color: white;
  box-shadow: 10px 10px 25px -20px rgba(0, 0, 0, 0.3);
  opacity: 1;
}

@media (min-width: 1080px) {
  .project {
    flex-basis: 50%;
  }
}

@media (min-width: 1486px) {
  .project {
    flex-basis: 33.33333%;
  }
}

.project.is-ref {
  order: 1;
}

.project .work__img {
  width: 95%;
  position: relative;
}

.project .work__img img {
  width: 100%;
  height: 17em;
  object-fit: cover;
  transition: 0.8s;
  cursor: pointer;
  -webkit-filter: contrast(120%) grayscale(70%);
  filter: contrast(100%) grayscale(70%);
  transition: all .3s linear;
}

.project:hover .work__img img {
  filter: none
}

.project .overlay {
  width: 100%;
  height: 17em;
  top: 0;
  position: absolute;
  background-color: rgb(0, 0, 0, 0.3);
  opacity: 1;
  z-index: 1000;
  transition: all .3s linear;
}

.project:hover .overlay {
  opacity: 0
}

.project .project-info-card {
  position: absolute;
  top: 100px;
  left: 180px;
  width: 14.5em;
  height: 13.5em;
  opacity: 1;
  background-color: var(--fifth-color);
  box-shadow: -20px 20px 30px -5px rgba(0, 0, 0, 0.3);
  transition: opacity 0.8s ease;
  z-index: 50000;
}

.project:hover .project-info-card {
  opacity: 1;
}

.project .project-info-card .project__desc {
  padding: 20px;
  height: 100%;
}

.project .project-info-card .project__desc h4 {
  font-size: 0.9em;
  font-weight: 700;
  margin: 4px 0 15px 0;
  letter-spacing: 1px;
}

.project .project-info-card .project__desc h5 {
  margin: 0;
  font-size: 0.7em;
  font-family: var(--code-font);
  font-weight: 100;
}

.project .project-info-card .project__desc p {
  font-family: var(--code-font);
  font-weight: 100;
  font-size: 10px;
  line-height: 20px;
}

.project-secondary-info {
  margin-top: 18px;
  margin-left: 5px;
  position: absolute;
}

.project .links {
  margin-bottom: 10px;
}

.project .links a {
  width: max-content;
  margin-bottom: var(--mb-2);
  font-size: 1.5rem;
  color: var(--first-color);
  padding-right: 12px;
}

.project .links i {
  font-size: 0.9em;
}

.project .tech-desc {
  display: inline-block;
  letter-spacing: 1.2px;
  font-family: var(--code-font);
  font-size: 0.7em;
  font-weight: 100;
  margin-left: 2px;
  margin-right: 19px;
}

/* ===== CONTACT =====*/

.contact.section {
  max-width: 900px;
}

.contact.section .heading {
  margin-bottom: 4rem;
  letter-spacing: 0.8px;
  text-align: center;
}

.contact.section .heading p {
  margin: 0 200px;
  color: var(--third-color);
  font-size: 18px;
  line-height: 25px;
}

.contact .section-title {
  margin: 160px 0 40px;
}

.contact .section-title::after {
  width: 0;
  height: 0;
}

.contact__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.submit-button {
  min-width: 18em;
  position: relative;
  font-weight: bold;
  -webkit-text-transform: uppercase;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-flexbox;
  display: inline-flex;
  overflow: hidden;
  background: transparent;
  white-space: nowrap;
  -webkit-tap-highlight-color: transparent;
}

.submit-button .submit-button__content {
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  color: #fff;
  border: 1px solid currentColor;
  min-height: 4.7em;
  letter-spacing: 0.1em;
  font-size: 14px;
}

.submit-button:hover .submit-button__content {
  color: var(--first-color);
  border-color: var(--second-color);
}

.submit-button .submit-button__content:before {
  content: '';
  width: 101%;
  height: 108%;
  pointer-events: none;
  z-index: -1;
  position: absolute;
  top: -0.1em;
  bottom: 0;
  left: 0;
  right: 0;
  background: currentColor;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.submit-button:hover .submit-button__content:before {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  background: var(--second-color);
}

.submit-button .submit-button__content .bow-arrow {
  width: 2.5em;
  height: 1.7em;
  margin-left: 1.25em;
}

/* ===== FOOTER =====*/

.footer {
  background-color: #0e2431;
  color: #fff;
  text-align: center;
  font-weight: var(--font-semi);
  padding: 2rem 0;
}

.footer__title {
  font-size: 2rem;
  margin-bottom: var(--mb-4);
}

.footer__social {
  margin-bottom: var(--mb-4);
}

.footer__icon {
  font-size: 1.5rem;
  color: #fff;
  margin: 0 var(--mb-2);
}

/* ===== MEDIA QUERIES=====*/

@media screen and (min-width: 768px) {
  .nav__toggle {
    display: none;
  }
}

@media screen and (max-width: 1485px) {
  .section {
    max-width: 760px;
    font-size: 14px;
  }
  .about__info {
    padding-right: 0;
  }
  .section.work {
    max-width: 860px;
    font-size: 16px;
  }
  .project {
    padding: 40px
  }
  .project .project-info-card {
    top: 130px;
  }
}

@media screen and (max-width: 1080px) {
  .section.home {
    max-width: 720px;
    padding-left: 100px;
  }
  .section.skills {
    max-width: 710px;
    font-size: 12px;
  }
  .skills__data .skills__icon {
    width: 50px;
  }
  .section.experience {
    max-width: 520px;
  }
  .experience__lst {
    width: auto;
  }
  .experience__item button {
    width: auto;
    padding: 0px 15px 2px;
  }
  .panel__info ul li .inner_list {
    display: grid;
    grid-template-columns: none;
    grid-template-rows: auto;
  }
  .panel__info ul .info__items.drop__active {
    margin-left: 10px;
  }
  .section.work {
    max-width: 660px;
    font-size: 16px;
  }
  .project {
    padding-left: 55px;
  }
  .project .project-info-card {
    top: 180px;
    left: 33%;
  }
  .panel__info .text__container>p span {
    font-size: 10px;
    margin-left: 0;
  }
  .panel__info .text__container>p span::before {
    content: "\a";
    white-space: pre;
  }
}

@media screen and (max-width: 65.5em) {
  .home__data h1 {
    font-size: 55px;
  }
}

@media screen and (max-width: 58.5em) {
  .l-main {
    padding: 0 110px;
  }
  .home__data h1 {
    font-size: 45px;
  }
}