/*===== GOOGLE FONTS =====*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
@import './_var.css';
@import './_reset.css';
/*===== VARIABLES CSS =====*/

:root {
  --header-height: 3rem;
  --font-semi: 600;
}

/*===== Colours =====*/

:root {
  --first-color: #c3c3c3;
  --second-color: #fbfbfb;
  --bg-color: rgb(30, 30, 30);
  --first-font: #fff;
}

/*===== Font =====*/

:root {
  --body-font: Calibre, 'San Francisco', 'SF Pro Text', -apple-system, system-ui, BlinkMacSystemFont, Roboto, 'Helvetica Neue', 'Segoe UI', Arial, sans-serif;
  --big-font-size: 3rem;
  --h2_font_size: 2rem;
  --normal-font-size: 0.938rem;
}

@media screen and (min-width: 768px) {
  :root {
    --big-font-size: 3.5rem;
    --h2-font-size: 3rem;
    --normal-font-size: 1rem;
  }
}

/*===== Margins =====*/

:root {
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
}

/*===== z index =====*/

:root {
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*===== CLASS CSS ===== */

body {
  background-color: var(--bg-color);
}

.section-title {
  position: relative;
  font-size: var(--h2_font_size);
  color: var(--first-color);
  margin-top: var(--mb-2);
  margin-bottom: var(--mb-4);
  /* text-align: center; */
}

.section-title::after {
  position: absolute;
  content: '';
  width: 14px;
  height: 0.09rem;
  margin: auto;
  top: 2rem;
  background-color: var(--first-color);
}

.about .section-title::after {
  left: 5.5em;
}

.skills .section-title::after {
  left: 3em;
}

.experience .section-title::after {
  left: 6.2em;
}

.work .section-title::after {
  left: 3em;
}

.section {
  padding-top: 4rem;
  padding-bottom: 2rem;
  max-width: 1024px;
  margin: auto;
  height: 100vh;
}

/* ================================================================== */

/* ===== LAYOUT =====  */

.bd-grid {
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 2rem;
  width: calc(100% - 2rem);
}

.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--bg-color);
  transition: all 0.3s ease;
  padding: 0 70px;
}

.l-header.hide {
  top: -80px;
}

.l-header.shadow {
  box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);
}

/*===== NAV =====*/

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: var(--font-semi);
  transition: all 0.8s ease;
}

.l-header.shadow .nav {
  height: calc(var(--header-height) + 1rem);
}

@media screen and (max-width: 768px) {
  .nav__menu {
    position: fixed;
    top: var(--header-height);
    right: -100%;
    width: 80%;
    height: 100%;
    padding: 2rem;
    background-color: var(--second-color);
    transition: 0.5s;
  }
}

.nav__item {
  margin-bottom: var(--mb-4);
}

.nav__link {
  position: relative;
  color: var(--first-font);
}

.nav__link:hover {
  position: relative;
}

.nav__link:hover::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--first-color);
}

.nav__logo {
  color: var(--second-color);
}

.nav__toggle {
  color: var(--second-color);
  font-size: 1.5rem;
  cursor: pointer;
}

/*Active menu*/

header .active::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--first-color);
}

/*=== Show menu ===*/

.show {
  right: 0;
}

/*===== HOME =====*/

.home {
  height: calc(100vh - 3rem);
  row-gap: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.home__data {
  align-self: center;
  margin-bottom: 110px;
}

.home__title {
  font-size: 4rem;
}

.home__subtitle {
  font-size: 4rem;
  margin-bottom: 0.5em;
}

.home__data h1 {
  line-height: 90px;
}

.home__data>span {
  margin-bottom: 10px;
  display: inline-block;
}

.home__desc {
  max-width: 470px;
  margin: 0 0 60px;
}

.home__title-color {
  color: var(--first-color);
}

.home__social {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 37px;
  bottom: 1px;
}

.home__social::after {
  content: '';
  display: block;
  width: 1px;
  height: 160px;
  background-color: rgb(168, 178, 209);
  margin: 0px auto;
}

.home__social-icon {
  width: max-content;
  margin-bottom: var(--mb-2);
  font-size: 1.5rem;
  color: var(--second-color);
  padding: 7px;
}

.home__social-icon:hover {
  color: var(--first-color);
}

.home__img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 295px;
}

/*BUTTONS*/

.button {
  display: inline-block;
  background-color: var(--first-color);
  color: var(--first-font);
  padding: 0.75rem 2.5rem;
  font-weight: var(--font-semi);
  border-radius: 0.5rem;
}

.button:hover {
  box-shadow: 0 10px 36px rgba(0, 0, 0, 0.15);
}

/* ===== ABOUT =====*/

.about__container {
  row-gap: 2rem;
  text-align: center;
  grid-column-gap: 8rem;
  margin: 0;
  line-height: 26px;
  grid-template-rows: 700px;
}

.about__subtitle {
  margin-bottom: var(--mb-2);
}

.about__img {
  justify-self: flex-start;
  position: relative;
}

.about__img .img__border:after {
  top: 20px;
  left: 20px;
  z-index: -1;
  border-width: 2px;
  border-style: solid;
  border-color: rgb(255, 255, 255);
  border-image: initial;
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 3px;
}

.about__img img {
  width: 200px;
}

.about__info {
  height: 600px;
  overflow: auto;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.about__info::-webkit-scrollbar {
  display: none;
}

.about__text {
  font-size: 18px;
  line-height: 32px;
}

.about__tech {
  display: grid;
  grid-template-columns: repeat(2, minmax(140px, 240px));
  /* overflow: hidden; */
  padding: 0px;
  margin: 20px 0px 0px;
  list-style: none;
}

.tech__item {
  align-self: center;
  position: relative;
  margin-bottom: 10px;
  padding-left: 20px;
  font-family: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', 'Lucida Console', Monaco, monospace;
  font-size: 13px;
  line-height: 20px;
}

.tech__item::before {
  content: '▹';
  position: absolute;
  left: 0px;
  font-size: 14px;
  line-height: 12px;
  bottom: 30%;
}

/* ===== SKILLS =====*/

.skills__container {
  row-gap: 2rem;
  text-align: center;
}

.skills__subtitle {
  margin-bottom: var(--mb-2);
}

.skills__text {
  margin-bottom: var(--mb-4);
}

.skills__data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-weight: var(--font-semi);
  padding: 0.5rem 1rem;
  margin-bottom: var(--mb-3);
  box-shadow: 0 4px 25px rgba(14, 36, 49, 0.15);
}

.skills__data .skills__icon {
  width: 100px;
}

.skills__icon {
  font-size: 2rem;
  margin-right: var(--mb-2);
  color: var(--first-color);
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: filter .5s ease-in-out;
}

.skills__icon:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

.skills__icon.sm img {
  height: 50px;
}

.skills__names {
  display: flex;
  align-items: center;
  font-size: 14px;
  height: 37px;
}

.skills__img {}

/* ===== EXPERIENCE =====*/

#experience {
  max-width: 900px;
}

.experience__container {
  grid-template-columns: 15% 95%;
  align-items: flex-start;
  text-align: initial;
  margin: 60px 0 0 5px;
}

.experience__lst {
  width: max-content;
  position: relative;
}

.experience__lst-underline {
  position: absolute;
  left: 0px;
  bottom: 0;
  width: 2px;
  height: 0px;
  background: white;
  will-change: top, height;
  transition: top .3s, height .3s;
}

.experience__item button {
  text-decoration-skip-ink: auto;
  position: relative;
  cursor: pointer;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  background-color: transparent;
  height: 42px;
  text-align: left;
  white-space: nowrap;
  font-size: 13px;
  color: var(--first-font);
  text-decoration: none;
  padding: 0px 25px 2px;
  transition: all .4s;
  border: none;
  border-left: 2px solid rgba(255, 255, 255, 0.25);
}

.experience__item.active button {
  background-color: rgba(77, 77, 77, 0.15);
  outline: 0px;
}

.experience__item button:active {
  border-left: 2px solid var(--first-color);
}

.experience__panel {
  height: 600px;
  opacity: 1;
  transition: all .5s;
}

.experience__panel.hidden {
  display: none;
}

.experience__panel.visually-hidden {
  opacity: 0;
}

.experience__panel h4 {
  font-size: 18px;
  margin: 0 0 10px;
}

.experience__panel h5 {
  font-size: 14px;
  margin: 0 0 10px;
}

.experience__panel::-webkit-scrollbar {
  display: none;
}

.panel__info {
  height: 450px;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.panel__info::-webkit-scrollbar {
  width: 20px;
  margin-left: 20px;
}

.panel__info::-webkit-scrollbar-track {
  background-color: rgba(70, 70, 70, 0.3);
  border-left: 9.9px solid var(--bg-color);
  border-right: 9.9px solid var(--bg-color);
  border-radius: 1px
}

.panel__info::-webkit-scrollbar-thumb {
  background-color: rgb(70, 70, 70);
  border-radius: 15px;
  border: 7px solid transparent;
  background-clip: content-box;
}

.panel__info .text__container {
  display: flex;
}

.panel__info>ul {
  margin-top: 20px;
}

.panel__info ul .info__items {
  padding-left: 30px;
  margin-bottom: 15px;
  margin-left: 0px;
  transition: margin-left 0.5s ease;
}

.panel__info ul .info__items:hover {
  margin-left: 40px;
}

.panel__info ul .info__items.drop__active {
  margin-left: 40px;
}

.panel__info ul li>.text__container .drop_arrow {
  align-self: center;
  margin-right: 15px;
  max-width: 10px;
  transform: rotate(90deg);
  transition: margin-right 0.6s ease, transform 0.3s ease
}

.panel__info ul .info__items.drop__active>.text__container .drop_arrow {
  margin-right: 45px;
  transform: rotate(180deg);
  margin-right: 45px;
}

.panel__info ul li .inner_list {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, minmax(140px, 400px));
  grid-template-rows: auto;
  max-width: 800px;
  padding: 0px;
  margin: 15px 0px 30px 46px;
  list-style: none;
  max-height: 0;
  opacity: 0;
  visibility: hidden;
  transition: max-height 0.8s ease, opacity 0.3s ease-in;
}

.panel__info ul li.drop__active .inner_list {
  visibility: visible;
  max-height: 600px;
  margin: 15px 0px 30px 46px;
  opacity: 1;
}

.panel__info ul li .inner_list .inner_list__items {
  position: relative;
  padding: 0 0 0 10px;
  font-family: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', 'Lucida Console', Monaco, monospace;
  font-size: 13px;
  line-height: 20px;
  max-height: 0;
  transition: all 1.5s ease;
}

.panel__info ul li.drop__active .inner_list .inner_list__items {
  max-height: 300px;
  padding: 10px;
}

/* ===== WORK =====*/

.work__container {
  position: relative;
  height: 480px;
}

.work__container .carousel {
  width: 1200px;
  overflow: hidden;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  height: 480px;
}

.carousel .carousel__track {
  width: 100%;
  height: 470px;
  position: relative;
  transition: transform 250ms ease-in;
  display: inline-block;
}

.carousel .carousel__track .bd-grid {
  grid-template-columns: repeat(3, 1fr);
  column-gap: 60px;
  width: 100%;
  max-width: 1100px;
  position: absolute;
  height: 100%;
  align-items: center;
}

.carousel__actions {
  position: absolute;
  display: flex;
  width: 130%;
  margin: 0 auto;
  justify-content: space-between;
  top: 50%;
  left: 50%;
  z-index: 100;
  transform: translateY(-50%) translateX(-50%);
}

.carousel__actions button {
  border: none;
  background: transparent;
  cursor: pointer;
}

.carousel__actions button img {
  width: 26px;
}

.project {
  position: relative;
  color: white;
  height: 280px
}

.project .work__img {
  box-shadow: 4px 4px 25px rgba(7, 8, 8, 0.4);
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.project .work__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.8s;
  cursor: pointer;
  -webkit-filter: contrast(120%) grayscale(50%);
  filter: contrast(100%) grayscale(50%);
  transition: all .3s linear;
}

.project:hover .work__img img {
  filter: none
}

.project .overlay {
  width: 100%;
  height: 280px;
  top: 0;
  position: absolute;
  background-color: rgb(0, 0, 0, 0.3);
  opacity: 1;
  z-index: 1000;
  transition: all .3s linear;
}

.project:hover .overlay {
  opacity: 0
}

.project .project-info-card {
  position: absolute;
  top: 100px;
  left: 130px;
  width: 75%;
  height: 80%;
  opacity: 1;
  background-color: rgb(40, 40, 40);
  transition: opacity 0.8s ease;
  z-index: 50000;
}

.project:hover .project-info-card {
  opacity: 1;
}

.project .project-info-card .project__desc {
  padding: 20px 16px;
}

.project .project-info-card .project__desc h4 {
  font-size: 14.5px;
  margin: 0;
}

.project .project-info-card .project__desc span {
  display: inline-block;
  margin: 0 0 10px 0;
  font-size: 11px;
}

.project .project-info-card .project__desc p {
  font-size: 14px;
}

/* ===== CONTACT =====*/

.contact__input {
  width: 100%;
  font-size: var(--normal-font-size);
  font-weight: var(--font-semi);
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1.5px solid var(--second-color);
  outline: none;
  margin-bottom: var(--mb-4);
}

.contact__button {
  display: block;
  border: none;
  outline: none;
  font-size: var(--normal-font-size);
  cursor: pointer;
  margin-left: auto;
}

/* ===== FOOTER =====*/

.footer {
  background-color: #0e2431;
  color: #fff;
  text-align: center;
  font-weight: var(--font-semi);
  padding: 2rem 0;
}

.footer__title {
  font-size: 2rem;
  margin-bottom: var(--mb-4);
}

.footer__social {
  margin-bottom: var(--mb-4);
}

.footer__icon {
  font-size: 1.5rem;
  color: #fff;
  margin: 0 var(--mb-2);
}

/* ===== MEDIA QUERIES=====*/

@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }
  .section {
    padding-top: 9.5rem;
    padding-bottom: 3rem;
  }
  .section-title {
    margin-bottom: var(--mb-6);
  }
  .section-title::after {
    width: 280px;
    top: 1.5rem;
  }
  .nav {
    height: calc(var(--header-height) + 3rem);
  }
  .nav__list {
    display: flex;
    padding-top: 0;
  }
  .nav__item {
    margin-left: var(--mb-6);
    margin-bottom: 0;
  }
  .nav__toggle {
    display: none;
  }
  .nav__link {
    color: var(--second-color);
  }
  .home {
    height: 100vh;
  }
  .home__data {
    align-self: center;
  }
  .home__social {
    padding-top: 0;
    align-self: flex-end;
  }
  .home__social-icon {
    margin-bottom: 0;
  }
  .home__img {
    width: 457px;
    bottom: 15%;
  }
  .about__container, .skills__container {
    grid-template-columns: 35% 50%;
    align-items: flex-start;
    text-align: initial;
  }
  .skills__container {
    grid-template-columns: repeat(3, 1fr);
    align-items: flex-start;
    text-align: initial;
    margin: 0 auto;
  }
}

.about__img img {
  width: 400px;
}

.contact__form {
  width: 360px;
}

.contact__container {
  justify-items: center;
}

@media screen and (min-width: 1024px) {
  .home__img {
    right: 10%;
  }
}

@media screen and (max-width: 82.5em) {
  .l-main {
    padding: 0 110px;
  }
}

@media screen and (max-width: 65.5em) {
  .home__data h1 {
    font-size: 55px;
  }
}

@media screen and (max-width: 58.5em) {
  .l-main {
    padding: 0 110px;
  }
  .home__data h1 {
    font-size: 45px;
  }
}